* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(
    90deg, 
    rgba(255,255,255,1) 0%, 
    rgba(245,245,245,1) 5%, 
    rgba(240,248,255,1) 10%, 
    rgba(240,248,255,1) 90%, 
    rgba(245,245,245,1) 95%,
    rgba(255,255,255,1) 100%
    ); */
  background: linear-gradient(
    90deg, 
    rgba(255,255,255,1) 0%, 
    rgba(240,248,255,1) 5%, 
    rgba(222,240,255,1) 20%, 
    rgba(222,240,255,1) 80%, 
    rgba(240,248,255,1) 95%, 
    rgba(255,255,255,1) 100%
    );
  /* background-color: rgb(236, 236, 236); */
  background-position: center;
  background-size: cover;
}

header {
  background-color: white;
  border-bottom: 1px solid lightgray
}

.navbar-brand {
  font-size: 25px;
  cursor: default;
}

main::before {
  outline: 1px solid lightgray;
  position: fixed;
  content: '';
  top: 0;
  left: 8vw;
  width: 84vw;
  height: 110vh;
  z-index: -1;
  background-color: rgba(250,250,250,.8);
  box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.carousel-item {
  height: 300px;
}

#carousel-image-1 {
  background: linear-gradient(180deg, rgba(0,0,0,.7) 0%, rgba(71,70,70,0) 50%, rgba(0,0,0,.7) 100%),
  url('https://github.com/Richie-Yang/online-meet/blob/main/images/7-1.%20eatup.jpg?raw=true');
}

#carousel-image-2 {
  background: linear-gradient(180deg, rgba(0,0,0,.7) 0%, rgba(71,70,70,0) 50%, rgba(0,0,0,.7) 100%), 
  url('https://github.com/Richie-Yang/online-meet/blob/main/images/7-2.%20travel.jpg?raw=true');
}

#carousel-image-3 {
  background: linear-gradient(180deg, rgba(0,0,0,.7) 0%, rgba(71,70,70,0) 50%, rgba(0,0,0,.7) 100%), 
  url('https://github.com/Richie-Yang/online-meet/blob/main/images/7-3.%20party.jpg?raw=true');
}

#carousel-images-set {
  max-width: 1300px;
}

#carousel-image-1, #carousel-image-2, #carousel-image-3 {
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background-position: 0 -30px;
  background-size: cover;
}

#top-panel {
  border: 1px solid lightgray;
  border-radius: 5px;
  transform: scale(1, 1);
}

#top-panel, #data-panel, #paginator {
  position: relative;
  top: -70px;
  z-index: 1; 
}

.ldBar {
  color: rgb(98, 176, 243);
  font-family: 'varela round';
  font-size: 2rem;
  font-weight: 800;
}

.card {
  position: relative;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  min-width: 75vw;
  max-width: 16rem;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -3px 8px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease-in-out;
}

.card:hover {
  box-shadow: -15px 20px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card::before, .card::after {
  content: '';
  position: absolute;
  top: .5rem;
  right: .5rem;
  bottom: .5rem;
  left: .5rem;
  border-radius: 5%;
  transition: transform .5s ease-in-out, opacity .5s ease-out;
  opacity: 0;
}

.card::before {
  border-top: 3px solid lightblue;
  border-bottom: 3px solid lightblue;
  transform: scale(0, 1);
}

.card::after {
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
  transform: scale(1, 0);
}

.card:hover::before, .card:hover::after {
  transform: scale(1, 1);
  opacity: 1;
}

.card-image-wrapper {
/*   outline: 3px solid tomato; */
  border: 2px solid lightblue;
  border-radius: 50%;
  cursor: pointer;
}

.card-image-wrapper img {
/*   outline: 3px solid lightblue; */
  position: relative;
  z-index: 1;
  max-width: 85px;
  max-height: 85px;
  border-radius: 50%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.card:hover > .card-image-wrapper img {
  box-shadow: 0px 0px 25px 10px lightblue;
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.card-title {
    margin: 0;
    text-align: center;
}

.card-body {
  max-width: 160px;
  transition: transform .5s;
}

.card:hover > .card-body {
  transform: scale(1.1);
}

footer {
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

#footer-primary nav a{
  font-weight: 500;
  text-decoration: none;
}

#footer-social a i.fab {
  font-size: 1.5rem;
  margin: 0 .5rem;
}

@media screen and (min-width: 576px) {
  main::before {
    left: 8vw;
    width: 83.5vw;
  }

  .card {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    min-height: 16rem;
    min-width: 13rem;
    border-radius: 5%;
  }

  .card-image-wrapper {
  /*   outline: 3px solid tomato; */
    margin: 10% auto 0 auto;
  }

  .card-image-wrapper img {
  /*   outline: 3px solid lightblue; */
    min-width: 150px;
    min-height: 150px;
    max-width: initial;
    max-height: initial; 
  }

  .card-body {
    max-width: initial;
  }
}

@media screen and (min-width: 768px) {
  main::before {
    left: 5.5vw;
    width: 87.5vw;
  }

  .carousel-item {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  main::before {
    left: 3.5vw;
    width: 91.5vw;
  }

  .carousel-item {
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  #top-panel {
    transform: scale(.94, 1);
  }

  .carousel-item {
    height: 600px;
  }

  #carousel-image-1, #carousel-image-2, #carousel-image-3 {
    border-radius: 5px;
  }

  #carousel-images-set {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  main::before {
    left: 5.5vw;
    width: 88vw;
  }
}

@media screen and (min-width: 1600px) {
  main::before {
    left: 11vw;
    width: 77vw;
  }
}

@media screen and (min-width: 1800px) {
  main::before {
    left: 15vw;
    width: 69vw;
  }
}

@media screen and (min-width: 2200px) {
  main::before {
    left: 21.5vw;
    width: 56.5vw;
  }
}